.projects {
  padding: 4rem 2rem;
  color: white;
    animation: fadeIn 1.5s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.project-heading {
  margin-bottom: 3rem;
  color: #ffd700;
}


.projects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}

.project-card {
  background-color: #1a1a1a;
  border: 2px solid #2c2c2c;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 255, 136, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(0, 255, 136, 0.3);
}

.card-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #ffd700;
}

.card-txt {
  padding: 1rem;
}

.title h1 {
  font-size: 1.5rem;
  color: #ffd700;
  margin-bottom: 0.5rem;
}

.card-description p {
  margin: 0.2rem 0;
  font-size: 0.95rem;
  color: #ccc;
}

.links {
  margin-top: 1rem;
}

.links a {
  margin-right: 1rem;
  font-size: 1.3rem;
  color: white;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #ffd700;
}
